---
BasedOnStyle: Google
Language: Cpp
Standard: c++20
IndentWidth: 4
ColumnLimit: 100
AccessModifierOffset: -2
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
BinPackArguments: false
BinPackParameters: false
DerivePointerAlignment: false
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
NamespaceIndentation: None
SortIncludes: true
IncludeBlocks: Preserve
